<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC>

<module name="Checker">
    <module name="TreeWalker">
        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_TRY"/>
        </module>
        <module name="Indentation">
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="4"/>
        </module>
        <module name="FileTabCharacter">
            <property name="eachLine" value="true"/>
        </module>
    </module>
</module>